.product {
    display: flex;
    padding: 10px;
    /* margin-bottom: 20px; */
  }
.thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }
  .flex-grow-1{
    margin-left: 150px;
  }